.card {
    background-color: aliceblue;
    padding: auto;
    border: 1px solid rgb(224, 222, 222);
    margin: 2px;
    box-shadow: 0 0 1px;
}

.header {
   margin: 2px;
   display: inline;
}

.form-group {
    padding: 2px;
    padding-right: 2px;
}