<div class="card">
   <div class="header">Filter</div>
   <div class="form-box">
        <form class="form-group" [formGroup]="filterForm">
           <input formControlName="api">
           <input formControlName="auth">
        </form>
   </div>
</div>

<table>
    <thead>
        <th>API</th>
        <th>Description</th>
        <th>Auth</th>
        <th>HTTPS</th>
        <th>Cors</th>
        <th>Link</th>
        <th>Category</th>
    </thead>
    <tbody>
        <tr *ngFor="let api of apiData">
            <td>{{api.API}}</td>
            <td>{{api.Description}}</td>
            <td>{{api.Auth}}</td>
            <td>{{api.HTTPS}}</td>
            <td>{{api.Cors}}</td>
            <td>{{api.Link}}</td>
            <td>{{api.Category}}</td>
        </tr>
    </tbody>
</table>