<form [formGroup]="form"> 
   <div>User ID</div>
   <input formControlName="id">
   <button (click)="Filter()">Filter</button>
</form>


<table>
    <thead>
        <th>Id</th>
        <th>User ID</th>
        <th>Title</th>
        <th>Post</th>
    </thead>
    <tbody>
        <tr *ngFor="let post of posts">
            <td>{{post.id}}</td>
            <td>{{post.userId}}</td>
            <td>{{post.title}}</td>
            <td>{{post.body}}</td>
        </tr>
    </tbody>
</table>