.nav-tab {
    background-color: teal;
    color:white;
    display: flex;
    justify-content: space-around;
}

.tab {
    border: 1px seashell;
    flex: auto;
    text-align: center;
    padding: 10px;
}

.tab:hover {
    background-color: rgb(49, 143, 143);
}

.tab:active {
    background-color: rgb(49, 143, 143);
}