<nav class="nav-tab">
    <div class="tab" [routerLink]="['.']" routerLinkActive ng-class="{ active: isActive('/pj')}">Patient Journey</div>
    <div class="tab" [routerLink]="['ps']" routerLinkActive>Patient Summery</div>
    <div class="tab" [routerLink]="['re']" routerLinkActive>Patient Reports</div>
</nav>
<router-outlet></router-outlet>


