/* You can add global styles to this file, and also import other style files */
body {
    margin: 0;
    padding: 0;
    font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}


th {
    background-color: rgb(218, 211, 211);
    font-weight: 100;
}

td {
    background-color: aliceblue;
}
